Source: libweather-symbol
Priority: extra
Maintainer: Vegard Bønes <vegard.bones@met.no>
Build-Depends: debhelper (>= 10), build-essential (>= 11.5), devscripts, autotools-dev, libboost-dev,
 autoconf, automake, libtool, libboost-dev, google-mock
Standards-Version: 4.0.0
Section: libs

Package: libweather-symbol-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Generate weather symobls from a weather observations or -forecasts
 Weather symbol generation algorithm, used by met.no

